= form_with(model: jam, local: true) do |f|
  = f.text_field :url
  - if jam.errors.any?
    #error_explanation
      %h2 
        "pluralize(jam.errors.count, "error") prohibited this jam from being saved:"

      %ul
        - jam.errors.full_messages.each do |message|
          %li=message
        
  .actions
    = f.submit
