// Place all the styles related to the jams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
	background-color: #222;
}


h1, h5, p { 
	color: #9d9d9d;
}

h3 {
	color: white;
}

.url-form{
	margin-top: 20%;
}

.track-no {
	width: 50px;
}

.time-field {
	width: 100px;
}

input {
	width: 80%;
	border: none;
	border-color: transparent;
	background-color: #222;
	color: #9d9d9d;
}

th, td {
	color: #9d9d9d;	
}

td {
	white-space:nowrap;
}

table {
	background-color: #222;
	border: none;
	border-color: #9d9d9d;	
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	border-top: none;
}

.album-meta {
	overflow: hidden;
}


.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.add_track {
	
}

.remove-track {
	background-color: #222;
	border-color: #222;
	border-width: 0px;
}