// Place all the styles related to the jams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
	background-color: #222;
}

table {
	background-color: #222;
	border: none;
	border-color: #9d9d9d;	
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	border-top: none;
}

h1, h3, h5, p { 
	color: #9d9d9d;
}

.url-form{
	margin-top: 20%;
}

.track-no {
	width: 50px;
}
.track-no > input {
	width: 25px;
}

.time-field {
	width: 100px;
}

.time-field > input {
	width: 65px;
}

.name-field {
	mind-width: 100px;
}

.name-field > input {
	width: auto;
}

input {
	border: none;
	border-color: transparent;
	background-color: #222;
	color: #9d9d9d;
}

th, td {
	color: #9d9d9d;	
}

td {
	white-space:nowrap;
}

.album-meta {
	overflow: scroll;
	margin-left: 0px;
	text-align: left;
}

.album-meta > input {
	width: 100%;
}

.cover-image { 
	margin-bottom: 10px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.field_with_errors > input {
		border-color: red;
		border-style: solid;
		border-width: 1px;	
}
.remove-track {
	background-color: #222;
	border-color: #222;
	border-width: 0px;
}

.form-button {
	width: 100%;
	background-color: #9d9d9d;
}

.alert-danger {
	background-color: #222;
}

img {
	width: 100%;
}

.table-container {
	overflow: auto;
}
